################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C++/Sorting/SortingImplementations/.vs/SortingImplementations/v15
/C++/Sorting/SortingImplementations/Debug
/C++/Sorting/SortingImplementations/SortingImplementations/Debug
/C++/Performance/PerformanceAnalysis/.vs/PerformanceAnalysis/v15
/C++/Sorting/SortingImplementations/SortingImplementations/x64/Debug
/C++/Sorting/SortingImplementations/x64/Debug
/C#/SortingImplementations/.vs
/C#/SortingImplementations/bin
/C#/SortingImplementations/obj
/C#/SearchingImplementations/.vs
/C#/SearchingImplementations/bin
/C#/SearchingImplementations/obj
/C#/RandomArrayGenerator/.vs
/C#/RandomArrayGenerator/bin
/C#/RandomArrayGenerator/obj
C#/Sorting/SortingImplementations/.vscode/*
/C#/DSACourse/.vs
/C#/DSACourse/Week1/bin
/C#/DSACourse/Week1/obj
.vscode/*
.vs/*
.git/*
