################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sorting/SortingImplementations/.vs/SortingImplementations/v15
/Sorting/SortingImplementations/Debug
/Sorting/SortingImplementations/SortingImplementations/Debug
/Performance/PerformanceAnalysis/.vs/PerformanceAnalysis/v15
/Sorting/SortingImplementations/SortingImplementations/x64/Debug
/Sorting/SortingImplementations/x64/Debug
